body {
    font-family: Verdana;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

code {
    font-family: inherit;
    background-color: lightblue;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 16px;
}

a:hover {
    color: #338822;
}

p {
    text-align: justify;
    text-indent: 1rem;
}

h2 {
    padding-left: 0.2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    border: 1px solid black;
    padding: 6px 12px;
}

.main-section header {
    font-size: 20px;
    font-weight: bold;
}

.header {
    text-align: center;
}

.section-header {
    font-size: 1.5rem;
    font-weight: bold;
}

ul>li {
    margin-bottom: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 700px) {
    body {
        display: flex;
        gap: 1rem;
        max-width: 90vw;
    }

    nav {
        flex: 1 0 280px;
    }

    main {
        flex: 1 1 auto;
    }

    nav ul {
        padding: 0;
    }
}